@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  color: black;
  background-color: #242424;
}

p{
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
}

#app, #root{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.my-atropos {
  width: 400px;
  height: 260px;
}

.logoppal{
  width: 80%;
}

body{
  background: linear-gradient(#00000000, #00000000), url('https://static.nationalgeographicla.com/files/styles/image_3200/public/nationalgeographic_2670050crop.jpg?w=1900&h=1267');
  background-size: cover;
  animation: fadeIn 1.5s ease;
  display: flex;
  align-items: center;
  height: 100dvh;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
    filter: blur(20px);
  }
  15%{
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}

@keyframes fadeInTest{
  15%{
    opacity: 0;
    filter: blur(20px);
  }
  30%{
    filter: brightness(2) blur(10px);
  }
  50%{
    opacity: 1;
    filter: brightness(1.5) (5px);
  }
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: end;
  background: linear-gradient(#00000070, #0000001c);
}

header li{
  cursor: pointer;
  letter-spacing: 1px;
  color: white;
}

header li:hover{
  text-decoration: underline wavy #ff4d00;
}

header ul{
  list-style: none;
  display: flex;
  gap: 25px;
}

.contenido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition-duration: 300ms;
  transform: translate3d(0px, 0px, 0px);
  border: 5px ridge #ff8b5a;
}

.contenido h1{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 20px;
}

.atropos-inner{
  background: url("../fondo2.png");
  background-size: 100%;
  transition: .5s;
}

.atropos-inner:hover{
  transform: scale(1.1);
}

.negrita{
  font-weight: 800;
  font-size: 20px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  padding: 10px;
  background: linear-gradient(#00000031, #000000a2);
}

footer nav p{
  font-size: 50px;
  text-decoration: none;
}

footer nav{
  display: flex;
  gap: 20px;
}

footer p{
  transition: .25s;
}

.contacto{
  color: white;
  letter-spacing: 1px;
}

.denuncia{
  color: white;
  letter-spacing: .7px;
}

footer .face:hover{
  color: #0000bf;
}

footer .insta:hover{
  color: #e825e8;
}

footer .whats:hover{
  color: #5aff41;
}

footer .phone:hover{
  color: #ff4d00;
}

footer .mail:hover{
  color: #3f0069f6;
}

footer a{
  text-decoration: none;
  color: white;
}

.Toastify__progress-bar{
  background-color: #ff4d00;
}

@media screen and (max-width: 600px){
  .atropos-inner{
    background-size: cover;
  }
  body{
    background-position: center;
  }
  header li{
    font-size: 14px;
  }
  header{
    justify-content: center;
  }
  footer nav p{
    font-size: 35px;
  }
  footer nav{
    gap: 25px;
  }
  header ul{
    gap: 12px;
  }
  .my-atropos{
    width: 300px;
    height: 250px;
  }
}