@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  color: black;
  background-color: #242424;
}

p{
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
}

.my-atropos {
  padding: 20px;
  width: 400px;
  height: 260px;
}

.logoppal{
  width: 80%;
}

body{
  background: linear-gradient(#0000008c, #0000008c), url('https://static.nationalgeographicla.com/files/styles/image_3200/public/nationalgeographic_2670050crop.jpg?w=1900&h=1267');
  background-size: cover;
  animation: fadeIn 1.5s ease;
  display: flex;
  align-items: center;
  height: 100dvh;
  min-height: -webkit-fill-available
}

html{
  height: -webkit-fill-available;
}

.legajo{
  font-size: 10px;
  align-self: flex-end;
  padding-right: 37px;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
    filter: blur(20px);
  }
  15%{
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}

@keyframes fadeInTest{
  15%{
    opacity: 0;
    filter: blur(20px);
  }
  30%{
    filter: brightness(2) blur(10px);
  }
  50%{
    opacity: 1;
    filter: brightness(1.5) (5px);
  }
}

.contenido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition-duration: 300ms;
  transform: translate3d(0px, 0px, 0px);
}

.contenido h1{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 20px;
}

.atropos-inner{
  box-shadow: 0 0 100px black, 0 0 100px black;
  background: url("../fondo2.png");
  background-size: 100%;
  transition: .5s;
}

.atropos-inner:hover{
  box-shadow: 0px 0px 70px #000000be, 0px 0px 70px #000000be, 0px 0px 70px #000000be, 0px 0px 70px #000000be, 0px 0px 70px #000000be;
  background-color: #060054d9;
  transform: scale(1.1);
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  padding: 10px;
  gap: 15px;
}

footer nav p{
  font-size: 50px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

footer nav{
  display: flex;
  gap: 20px;
}

footer p{
  transition: .4s;
}

footer .face:hover{
  color: #0000bf;
}

footer .insta:hover{
  color: #e825e8;
}

footer .whats:hover{
  color: #5aff41;
}

footer .phone:hover{
  color: #ff4d00;
}

footer .mail:hover{
  color: black;
}

footer a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.Toastify__progress-bar{
  background-color: #ff4d00;
}

@media screen and (max-width: 600px){
  body{
    background-position: center;
  }
  .my-atropos{
    width: 300px;
    height: 200px;
  }
  footer .face{
    color: #2323ff;
  }
  
  footer .insta{
    color: #e825e8;
  }
  
  footer .whats{
    color: #5aff41;
  }
  footer .phone{
    color: #ff4d00;
  }
  footer .mail{
    color: black;
  }
}